tensorflow==2.14.0
keras==2.14.0
opencv-python==4.5.5.64
dlib==19.24.6
numpy==1.26.4
onnx==1.17.0
onnxruntime==1.20.1
pillow==11.1.0
torch==2.6.0
torchvision==0.21.0
mediapipe==0.10.21
## instead of pip install ml_dtypes==0.2.0, runned: pip install --upgrade "ml_dtypes<0.3"
ml_dtypes==0.2.0